<main class="w-full h-screen flex bg-background">
    <!-- Sidebar -->
    <aside class="w-1/6 h-screen bg-card shadow-lg border-r border-border">
        <nav>
            <h1 class="text-xl font-bold text-foreground m-6">Auto Contrato</h1>
            <ul class="space-y-5 mt-10">
                <li *ngFor="let p of pagesRender">
                    <a [routerLink]="p.url" [ngClass]="{ 'text-primary border-primary': p.url === rotas[0].url }"
                        class="flex items-center border-l-4 border-transparent hover:border-foreground pl-3 cursor-pointer">
                        <mode-theme-icon [ngClass]="{ 'text-primary border-primary color-primary': p.url === rotas[0].url }"
                            size="25px" icon="{{p.icon}}" />
                        <p [ngClass]="{ 'text-primary font-bold': p.url === rotas[0].url }" class="ml-5">{{p.title}}</p>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>

    <div class="flex-1 flex flex-col">
        <header class="bg-card shadow-sm p-4 border-b border-border flex items-center justify-between w-full">
            <div class="flex items-center">
                <app-theme-mode />
            </div>
            <div class="flex items-center gap-2">
                <input type="text" placeholder="Pesquisar" class="border border-border rounded-lg py-1 px-3 w-96">
                <mode-theme-icon size="25px" icon="heroMagnifyingGlass" class="text-foreground cursor-pointer" />
            </div>
            <div class="flex items-center gap-7">
                <spartan-dropdown-preview class="text-foreground cursor-pointer" />
            </div>
        </header>
        <div class="flex-1 p-6 overflow-y-auto bg-background border border-border rounded-lg m-4">
            <h1 class="text-3xl font-bold text-foreground mb-4">{{rotas[0].label | titlecase}}</h1>
            <nav hlmBreadcrumb>
                <ol hlmBreadcrumbList>
                    <div hlmBreadcrumbItem *ngFor="let item of rotas; let i = index">
                        <li hlmBreadcrumbSeparator *ngIf="i !== 0"></li>
                        <li hlmBreadcrumbItem>
                            <span hlmBreadcrumbPage class="cursor-pointer" [routerLink]="item.url">{{ item.label
                                }}</span>
                        </li>
                    </div>
                </ol>
            </nav>
            <ng-content>
            </ng-content>
        </div>
    </div>
</main>