<app-main-contant
    titulo="Proprietário"
>
    <main class="w-full h-max flex justify-center items-center">
        <form action="" [formGroup]="form" (ngSubmit)="salvar()"
            class="w-2/4 mt-20 flex flex-col gap-5 border border-border p-5 rounded-xl">
            <div class="flex gap-4 w-full">
                <label class="w-full" hlmLabel>Nome
                    <input class="w-full" hlmInput type="text" name="nome" formControlName="nome"
                        placeholder="Digite o nome" />
                </label>
            </div>
            <div class="flex gap-4 w-full">
                <label class="w-full" hlmLabel>Nascimento
                    <input hlmInput class="w-full" type="date" formControlName="nascimento" />
                </label>
                <label class="w-full" hlmLabel>Nacionalidade
                    <brn-select class="w-full" placeholder="Selecione uma nacionalidade" formControlName="nacionalidade">
                        <hlm-select-trigger class="w-full mt-1">
                            <hlm-select-value />
                        </hlm-select-trigger>
                        <hlm-select-content class="w-full">
                            <hlm-option value="Brasileiro">Brasileiro</hlm-option>
                            <hlm-option value="Argentino">Argentino</hlm-option>
                            <hlm-option value="Chileno">Chileno</hlm-option>
                            <hlm-option value="Colombiano">Colombiano</hlm-option>
                            <hlm-option value="Mexicano">Mexicano</hlm-option>
                            <hlm-option value="Estadunidense">Estadunidense</hlm-option>
                            <hlm-option value="Canadense">Canadense</hlm-option>
                            <hlm-option value="Alemão">Alemão</hlm-option>
                            <hlm-option value="Francês">Francês</hlm-option>
                            <hlm-option value="Italiano">Italiano</hlm-option>
                            <hlm-option value="Japonês">Japonês</hlm-option>
                            <hlm-option value="Chinês">Chinês</hlm-option>
                        </hlm-select-content>
                    </brn-select>
                </label>
                
            </div>
            <div class="flex gap-4 w-full">
                <label class="w-full" hlmLabel>CPF
                    <input class="w-full" hlmInput type="text" appCpfMask name="cpf" formControlName="cpf"
                        placeholder="Digite o CPF" />
                </label>
                <label class="w-full" hlmLabel>RG
                    <input hlmInput class="w-full" type="text" name="rg" appRgMask formControlName="rg"
                        placeholder="Digite o RG" />
                </label>
            </div>
            <div class="flex justify-end">
                <app-button text="Salvar" type="submit" class="rounded" />
            </div>
        </form>
    </main>
</app-main-contant>