<brn-select class="inline-block w-full" placeholder="Select an option" (change)="onSelectChange($event)">
    <hlm-select-trigger class="w-full">
        <hlm-select-value />
    </hlm-select-trigger>
    <hlm-select-content class="w-full">
        <hlm-option *ngFor="let item of propriedades" [value]="item.id" class="flex flex-col w-full justify-center text-center pl-3  cursor-pointer">
            <p>{{ item.rua }}</p>
            <p class="text-xs">{{ item.numero }}</p>
        </hlm-option>
    </hlm-select-content>
  </brn-select>