<app-main-contant>
    <main class="w-full h-max flex justify-center items-center">
        <form action="" [formGroup]="form" (ngSubmit)="atualizar()"
            class="w-2/4 mt-20 flex flex-col gap-5 border border-border p-5 rounded-xl">
            <div class="flex gap-4 w-full">
                <label class="w-full" hlmLabel>Nome
                    <input class="w-full" hlmInput type="text" name="nome" formControlName="nome"
                        placeholder="Digite o nome" />
                </label>
                <label class="w-full" hlmLabel>CPF
                    <input hlmInput class="w-full" type="text" appCpfMask formControlName="cpf" placeholder="Digite o CPF" />
                </label>
            </div>
            <div class="flex gap-4 w-full">
                <label class="w-full" hlmLabel>E-mail
                    <input class="w-full text-gray-400" readonly hlmInput type="text" name="email" formControlName="email"
                        placeholder="Digite o CPF" />
                </label>
            </div>
            <div class="flex justify-end">
                <app-button text="Atualizar" type="submit" class="rounded" />
            </div>
        </form>
    </main>
</app-main-contant>