<app-main-contant>
    <div class="bg-card shadow-sm rounded-lg p-6">

        <div class="overflow-x-auto">
            <table class="w-full text-left">

                <caption class="text-sm text-muted-foreground mb-4">
                    A list of your recent invoices.
                </caption>

                <thead>
                    <tr class="border-b border-border">
                        <th class="px-4 py-3 text-sm font-semibold text-foreground">Nome</th>
                        <th class="px-4 py-3 text-sm font-semibold text-foreground">Nascimento</th>
                        <th class="px-4 py-3 text-sm font-semibold text-foreground">CPF</th>
                        <th class="px-4 py-3 text-sm font-semibold text-foreground">RG</th>
                        <th class="px-4 py-3 text-sm font-semibold text-foreground">Status</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let item of conteudo" class="hover:bg-accent transition-colors duration-200">
                        <td class="px-4 py-3 text-sm text-foreground">{{item.nome}}</td>
                        <td class="px-4 py-3 text-sm text-foreground">{{item.nascimento | formatarData}}</td>
                        <td class="px-4 py-3 text-sm text-foreground">{{item.cpf}}</td>
                        <td class="px-4 py-3 text-sm text-foreground">{{item.rg}}</td>
                        <td class="px-4 py-3 text-sm text-foreground">{{item.status}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="flex justify-end mt-6">
            <nav class="inline-flex rounded-md shadow-sm">
                <a (click)="mudarPagina(pagina - 1)"
                    class="px-3 py-2 text-sm font-medium text-muted-foreground hover:text-foreground border border-border rounded-l-md">
                    <mode-theme-icon size="20px" icon="heroArrowSmallLeftSolid" />
                </a>
                <p
                    class="px-3 py-2 text-sm font-medium text-muted-foreground hover:text-foreground border border-border">
                    {{pagina + 1}} de {{total}}</p>
                <a (click)="mudarPagina(pagina + 1)"
                    class="px-3 py-2 text-sm font-medium text-muted-foreground hover:text-foreground border border-border rounded-r-md">
                    <mode-theme-icon size="20px" icon="heroArrowSmallRightSolid" />
                </a>
            </nav>
        </div>
    </div>
</app-main-contant>
<hlm-dialog>
    <button id="edit-profile" brnDialogTrigger hlmBtn variant="outline" class="fixed bottom-10 right-10">Novo
        Locatário</button>
    <hlm-dialog-content class="sm:max-w-[425px]" *brnDialogContent="let ctx">
        <hlm-dialog-header>
            <h3 hlmDialogTitle>Edit profile</h3>
            <p hlmDialogDescription>Make changes to your profile here. Click save when you're done.</p>
        </hlm-dialog-header>
        <form [formGroup]="form" (ngSubmit)="register()">
            <div class="py-4 grid gap-4">
                <label-input class="w-full" name="nome" [label]="'Nome'" [placeholder]="'Nome'"
                    formControlName="nome"></label-input>
                <label-input class="w-full" label="CPF" placeholder="Digite seu CPF" name="cpf"
                    formControlName="cpf"></label-input>
                <div>
                    <label-input class="w-full" label="CPF" type="date" placeholder="Digite seu CPF" name="cpf"
                    formControlName="cpf"></label-input>
                </div>
                <app-select-proprietarios />
            </div>
            <button hlmBtn type="submit">Save changes</button>
        </form>
    </hlm-dialog-content>
</hlm-dialog>