<app-main-login>
    <h1 class="text-primary font-bold text-3xl flex items-center mb-8">Registre-se</h1>
    <p class="mb-4">Já tem uma conta? <a href="/login">Clique aqui</a></p>
    <form [formGroup]="registerForm" (ngSubmit)="register()" >
        <div class="flex flex-wrap -mx-2 mb-4">
            <div class="w-full md:w-1/2 px-2 mb-4 md:mb-0">
                <label class="w-full" hlmLabel>Nome Completo
                    <input hlmInput class="w-full" type="text" name="nome" formControlName="nome"
                        placeholder="Digite o nome" />
                </label>
            </div>
            <div class="w-full md:w-1/2 px-2 mb-4 md:mb-0">
                <label class="w-full" hlmLabel>CPF
                    <input hlmInput class="w-full" type="text" name="rg" appCpfMask formControlName="cpf"
                        placeholder="Digite o CPF" />
                </label>
            </div>
        </div>
        <div class="mb-4">
            <label class="w-full" hlmLabel>E-mail
                <input hlmInput class="w-full" type="text" name="email" formControlName="email"
                    placeholder="Digite o E-mail" />
            </label>
        </div>
        <div class="flex flex-wrap -mx-2 mb-4">
            <div class="w-full md:w-1/2 px-2">
                <label class="w-full" hlmLabel>Senha
                    <input hlmInput class="w-full" type="password" name="senha" formControlName="senha"
                        placeholder="Digite a Senha" />
                </label>
            </div>
            <div class="w-full md:w-1/2 px-2">
                <label class="w-full" hlmLabel>Confirmar Senha
                    <input hlmInput class="w-full" type="password" name="conf-senha" formControlName="confSenha"
                        placeholder="Confirme a Senha" />
                </label>
            </div>
        </div>
        <div class="flex justify-end">
            <app-button text="Registrar" type="submit" class="rounded" />
        </div>
    </form>
</app-main-login>