<app-main-contant>
    <div class="flex w-full gap-5 mt-5">
        <app-card class="w-full" titulo="Casas Disponiveis" valor="{{casaDisponiveis}}" subtitulo="Casas disponives para locação" icone="heroHomeModern" />
        <app-card class="w-full" titulo="Casas Ocupadas" valor="{{casaOcupadas}}" subtitulo="Casas alugadas e locação" icone="heroHomeModernSolid" />
        <app-card class="w-full" titulo="Valor em Aluguel Total" valor="{{aluguelTotal | real}}" subtitulo="Valor somado de todas as casas"
            icone="heroCurrencyDollar" />
        <app-card class="w-full" titulo="Valor a Receber" valor="{{aluguelReceber | real}}" subtitulo="Valor somado de casas alugadas"
            icone="heroCurrencyDollarSolid" />
    </div>
    <div class="flex gap-5 w-full mt-10">
        <div class="border border-border w-full py-5 px-5 flex flex-col gap-5 rounded-xl">
            <h2 class="text-center font-bold text-2xl mb-3">Propriedades</h2>
            <span class="text-center" *ngIf="propriedades.length == 0">Nenhuma Propriedade Cadastrada</span>
            <app-card-item *ngFor="let pdes of propriedades" text_main="{{pdes.rua}}, {{pdes.numero}}" text_sub="{{pdes.cep}}" icone="heroHomeModernSolid" value="{{pdes.aluguel  | real}}" />
        </div>
        <div class="border border-border w-1/2 p-5 flex flex-col gap-5 rounded-xl">
            <div class="border rounded-md w-full p-2 max-h-[268px] flex flex-col gap-1">
                <h2 class="text-center font-bold text-2xl mb-2">Locatarios</h2>
                <div class="overflow-auto flex flex-col gap-1">
                    <span class="text-center" *ngIf="locararios.length == 0">Nenhum Locatario Cadastrado</span>
                    <app-card-item *ngFor="let l of locararios" text_main="{{l.nome}}" text_sub="{{l.cpf}}" icone="heroUserCircleSolid"
                        value="{{l.status}}" />
                </div>
            </div>
            <div class="border rounded-md w-full p-2 max-h-[268px] flex flex-col gap-1">
                <h2 class="text-center font-bold text-2xl mb-2">Proprietarios</h2>
                <div class="overflow-y-auto flex flex-col gap-1">
                    <span class="text-center" *ngIf="proprietarios.length == 0">Nenhum Proprietario Cadastrado</span>
                    <app-card-item *ngFor="let p of proprietarios" text_main="{{p.nome}}" text_sub="{{p.cpf}}" icone="heroUserCircleSolid"
                        value="{{p.status}}" />
                </div>
            </div>
        </div>
    </div>
</app-main-contant>