<div class="flex items-center justify-center">
    <button hlmBtn variant="outline"[brnMenuTriggerFor]="menu" class="border-none hover:bg-transparent">
        <mode-theme-icon size="25px" icon="heroUserCircleSolid" />
    </button>
</div>
<ng-template #menu>
    <hlm-menu class="w-56 my-1">
        <hlm-menu-group class="flex items-center gap-2 justify-center flex-col w-full py-2">
            <mode-theme-icon icon="heroUserCircleSolid" size="40px" />
            <span class="text-sm font-bold">{{nome}}</span>
            <span class="text-xs">{{email}}</span>
            <span class="text-xs border border-border py-1 px-2 rounded-2xl">{{role}}</span>
        </hlm-menu-group>
        <hlm-menu-separator />
        <hlm-menu-group>
            <button hlmMenuItem [routerLink]="['/usuario/{{id}}']" routerLinkActive="router-link-active" class="flex items-center gap-2">
                <mode-theme-icon icon="heroUserCircleSolid" size="20px" />
                <span>Perfil</span>
            </button>
            <button hlmMenuItem (click)="logout()" class="flex items-center gap-2">
                <mode-theme-icon icon="ionExit" size="20px" />
                <span>Sair</span>
            </button>
        </hlm-menu-group>
    </hlm-menu>
</ng-template>